header keys case sensitivity issue

Some rest clients capitalize the header keys, and as we noticed earlier #21 , restlet converts upper case keys to lower case. 

So we could implement  a way to make the header check case insensitive

The official HTTP spec also states headers are case insensitive

https://www.ietf.org/rfc/rfc2616.txt

> 4.2 Message Headers
> 
>    HTTP header fields, which include general-header (section 4.5),
>    request-header (section 5.3), response-header (section 6.2), and
>    entity-header (section 7.1) fields, follow the same generic format as
>    that given in Section 3.1 of RFC 822 [9]. Each header field consists
>    of a name followed by a colon (":") and the field value. **Field names**
>    **are case-insensitive**. The field value MAY be preceded by any amount
>    of LWS, though a single SP is preferred. Header fields can be
>    extended over multiple lines by preceding each extra line with at
>    least one SP or HT. Applications ought to follow "common form", where
>    one is known or indicated, when generating HTTP constructs, since
>    there might exist some implementations that fail to accept anything